<main class="flex bg-gray-100 min-h-screen">
  <div class="h-[100vh] bg-blue-900 w-72 p-5 shadow-sm border border-gray-200 fixed">
    <img class="w-40 h-10" src="/logowhite.svg" alt="Logo" />
    <div class="w-full flex-col mt-10">
      <a 
        class="flex py-3 px-5 rounded-lg gap-2 text-white hover:text-blue-900 hover:bg-white transition-all duration-300"
        routerLink="/operador/dashboard"
        routerLinkActive="bg-white text-blue-900"
      >
        <lucide-angular [img]="DashboardIcon" class="size-5"></lucide-angular>
        Dashboard
      </a>

      <a
        class="flex mt-3 py-3 px-5 rounded-lg gap-2 text-white hover:text-blue-900 hover:bg-white transition-all duration-300"
        routerLink="/operador/compras"
        routerLinkActive="bg-white text-blue-900"
      >
        <lucide-angular [img]="ApplicantsIcon" class="size-5"></lucide-angular>
        Comprar Productos
      </a>

      <a
        class="flex mt-3 py-3 px-5 rounded-lg gap-2 text-white hover:text-blue-900 hover:bg-white transition-all duration-300"
        routerLink="/operador/inventario"
        routerLinkActive="bg-white text-blue-900"
      >
        <lucide-angular [img]="ProjectIcon" class="size-5"></lucide-angular>
        Inventario
      </a>

      <a
        class="flex mt-3 py-3 px-5 rounded-lg gap-2 text-white hover:text-blue-900 hover:bg-white transition-all duration-300"
        routerLink="/operador/historial-compras"
        routerLinkActive="bg-white text-blue-900"
      >
        <lucide-angular [img]="ProfileIcon" class="size-5"></lucide-angular>
        Historial Compras
      </a>

      <button
        class="w-full flex mt-3 py-3 px-5 rounded-lg gap-2 text-white hover:text-blue-900 hover:bg-white transition-all duration-300"
        (click)="cerrarSesion()"
        type="button"
      >
        <lucide-angular [img]="LogoutIcon" class="size-5"></lucide-angular>
        Cerrar Sesión
      </button>
    </div>
  </div>
  <div class="w-full sm:ml-72 lg:ml-52">
    <div class="lg:pl-30 lg:pr-10 pb-12 pt-5">
      <router-outlet />
    </div>
  </div>
</main>
